.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.15;
  text-align: center;
  color: $primary-black-color;
  margin-bottom: 12px;
}

.modal-form__label {
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;

  position: relative;
  width: 448px;
  margin-bottom: 14px;

  &:focus-within {
    fill: $accent-color;
  }

  .modal-form__input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;
      border: 1px solid $accent-color;
    }
  }
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 35px;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-form-field {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.modal-form-message {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;

  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal-form-icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid $primary-black-color;
  border-radius: 2px;
  margin-right: 7px;
}
.modal-form-label-checkbox:hover .modal-form-icon-check {
  background-color: rgba(126, 122, 122, 0.1);
}

.modal-form-label-checkbox:active .modal-form-icon-check {
  border: 2px solid rgba(107, 99, 99, 0.7);
}
.modal-form-checkbox:checked + .modal-form-icon-check {
  border-radius: 2px;
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../images/iconcheck.svg);
  background-origin: border-box;
}

.modal-form-text {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
}
.modal-form-text:hover,
.modal-form-text:hover .link-checkbox,
.modal-form-link-checkbox-checkbox:hover {
  color: rgba(33, 33, 33, 0.9);
}
.modal-form-link-checkbox {
  text-decoration: underline;
  color: $accent-color;
}
.modal-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 200px;
  height: 50px;
  padding: 10px 55px;
  cursor: pointer;

  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: transparent;
}
